<%= form_with(model: jobs_user, local: true) do |form| %>
  <% if jobs_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jobs_user.errors.count, "error") %> prohibited this jobs_user from being saved:</h2>

      <ul>
      <% jobs_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_area :company_name, id: :jobs_user_company_name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_area :position, id: :jobs_user_position %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_area :status, id: :jobs_user_status %>
  </div>

  <div class="field">
    <%= form.label :job_detals %>
    <%= form.text_area :job_detals, id: :jobs_user_job_detals %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
