<p id="notice"><%= notice %></p>

<h1>Jobs Users</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Position</th>
      <th>Status</th>
      <th>Job detals</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs_users.each do |jobs_user| %>
      <tr>
        <td><%= jobs_user.company_name %></td>
        <td><%= jobs_user.position %></td>
        <td><%= jobs_user.status %></td>
        <td><%= jobs_user.job_detals %></td>
        <td><%= link_to 'Show', jobs_user %></td>
        <td><%= link_to 'Edit', edit_jobs_user_path(jobs_user) %></td>
        <td><%= link_to 'Destroy', jobs_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobs User', new_jobs_user_path %>
