<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @jobs_user.company_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @jobs_user.position %>
</p>

<p>
  <strong>Status:</strong>
  <%= @jobs_user.status %>
</p>

<p>
  <strong>Job detals:</strong>
  <%= @jobs_user.job_detals %>
</p>

<%= link_to 'Edit', edit_jobs_user_path(@jobs_user) %> |
<%= link_to 'Back', jobs_users_path %>
