<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_area :company_name, id: :job_company_name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_area :position, id: :job_position %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_area :status, id: :job_status %>
  </div>

  <div class="field">
    <%= form.label :job_detals %>
    <%= form.text_area :job_detals, id: :job_job_detals %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
